<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <add key="Browser" value="Chrome" />
    <add key="UserName" value="U-UserName" />
    <add key="Password" value="P-Password" />
    <add key="Website" value="http://roadtoautomation.blogspot.com/2013/07/road-to-screen-recording-in-webdriver.html" />
    <add key="PageLoadTimeout" value="30" />
    <add key="ElementLoadTimeout" value="40" />
  </appSettings>
</configuration>